@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<h1>Build your own Portfolio!</h1>
<table>
    <tr><h2><label>Details</label></h2></tr>
    <td><b><label>FirstName</label></b></td>
    <td><b><input /></b></td><br />
    <td><b><label>LastName</label></b></td>
    <td><b><input/></b></td><br />
    <td><b><label>Email</label></b></td>
    <td><b><input /></b></td><br />
    <td><b><label>Phone number</label></b></td>
    <td><b><input /></b></td><br />
    <td><b><label>Qualification</label></b></td>
    <td><b><input /></b></td><br />
    <td><b><button>Submit</button></b></td>
</table>
